.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 6px 18px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'IBM Plex Sans', sans-serif;
    border: 1px solid transparent;
    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        user-select: none;
    }
}

//Button type
.rounded {
    border-radius: 20px;
    border-color: rgb(150, 148, 148);
    box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
    color: rgb(59, 59, 59);
    &:hover {
        opacity: 0.9;
    }
}

.primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;

    &:hover {
        opacity: 0.9;
    }
}

.outline {
    border-color: var(--primary);
    color: var(--primary);
    &:hover {
        background-color: #fcf6fa;
    }
}
.text {
    color: var(--black);
    &:hover {
        text-decoration: underline;
    }
}

//Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 146px;
    padding: 14px 16px;
}

//Icon
.icon {
    display: inline-block;
    width: auto;
    text-align: center;
}

.icon + .title {
    margin-left: 8px;
}

.title + .icon {
    margin-left: 8px;
}
