.menu-list {
    width: 200px;
    padding-bottom: 8px;
    .menu-item {
        margin: 0px;
        padding: 5px 9px;
        color: var(--text-color);
        width: 100%;
        justify-content: start;
        border-radius: 0px;
        font-size: 1.4rem;
        &:hover {
            background-color: rgba(158, 159, 160, 0.092);
        }
        &.separate {
            border-top: 2px solid rgb(238, 238, 238);
        }
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body{
    overflow-y: auto;

}

// Header
.header {
    flex-shrink: 0;
    position: relative;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    .header-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        font-size: 1.5rem;
        font-family: var(--font-family);
    }

    .back-btn {
        position: absolute;
        left: 20px;
        font-size: 1.9rem;
        cursor: pointer;
    }
}
